<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

    <link rel="stylesheet" th:href="@{css/style.css}"/>


<body>
<div th:insert="fragments/header"></div>

<section id="stats" class="stats">
    <div class="container container--85">
        <div class="stats--item">
            <em><span th:text = "${quantity}"></span></em>
            <h3>Oddanych worków</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
            <em><span th:text="${number}"></span> </em>
            <h3>Przekazanych darów</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>

    </div>
</section>

<section id="steps" class="steps">
    <h2>Wystarczą 4 proste kroki</h2>

    <div class="steps--container">
        <div class="steps--item">
            <span class="icon icon--hands"></span>
            <h3>Wybierz rzeczy</h3>
            <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--arrow"></span>
            <h3>Spakuj je</h3>
            <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--glasses"></span>
            <h3>Zdecyduj komu chcesz pomóc</h3>
            <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--courier"></span>
            <h3>Zamów kuriera</h3>
            <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
    </div>

    <a href="#" class="btn btn--large">Załóż konto</a>
</section>

<section id="about-us" class="about-us">
    <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img th:src="@{images/signature.svg}" class="about-us--text-signature" alt="Signature" />
    </div>
    <div class="about-us--image"><img th:src="@{images/about-us.jpg}" alt="People in circle" /></div>
</section>

<section id="help" class="help">
    <h2>Komu pomagamy?</h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
            Możesz sprawdzić czym się zajmują.</p>

        <ul class="help--slides-items"  th:each="i : ${#numbers.sequence(0, institutions.size()-1, 2)}">

            <li>

                <div class="col" >
                    <div class="title"><span th:text = "${institutions[i].name}"></span></div>
                    <div class="subtitle"><span th:text = "${institutions[i].description}"></span></div>
                </div>


                <div class="col" >
                    <div class="title"><span th:text = "${institutions[i+1].name}"></span></div>
                    <div class="subtitle"><span th:text = "${institutions[i+1].description}"></span></div>
                </div>

            </li>

        </ul>

    </div>

</section>
<script th:src="@{js/app.js}" type="text/javascript"></script>

<div th:insert="fragments/footer"></div>
</body>


</html>