<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/style.css}" />
</head>
<body>
<div th:insert="fragments/header"></div>
<section class="login-page">
    <h2>Załóż konto</h2>
    <form th:action="@{/register}" th:object="${user}" method="POST"  >

        <div class="form-group">
            <input type="text" name="userName" placeholder="User Name" th:field="*{userName}"/>
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" th:field="*{email}" />
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Hasło" th:field="*{password}" />
        </div>
        <div class="form-group">
            <input type="password" name="matchingPassword" placeholder="Powtórz hasło" th:field="*{matchingPassword}" />
        </div>

        <div class="form-group form-group--buttons">
            <a href="login.html" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>


</body>
</html>